/*---STYLE DO FRONT-->*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
}

body {
  background-color: #ffffff;
  /* background-image: url(img_gitpage/page_transparent.svg);
  background-size: auto;
  background-repeat: repeat; */
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----Tudo do header-----*/
header {
  width: 100%;
  /* height: 160px; */
  height: 80px;
  /* margin-bottom: 50px; */
  margin-bottom: 30px;

  font-size: 20px;
  color: #35432f;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.quantiFGA {
  
  padding-top: 5%;
  padding-bottom: 5%;
  width: 70%;
  height: auto;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

/*-----Tudo da main-----*/
main {
  background-image: url(img/main_background.svg);
  background-size: 100%;
  background-repeat: repeat-y;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quantiFGA_main {
  width: 35%;
  height: 108px;
  /* margin-bottom: 96px; */
  margin-bottom: 50px;
}
.quantiFGA_main img {
  width: 100%;
}

section {
  width: 78%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.escolhaAnalise {
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.texto-escolhaAnalise {
  width: 68%;
}
.texto-escolhaAnalise h1 {
  width: 100%;
  font-weight: 700;
  /* font-size: 64px; */
  font-size: 60px;
  line-height: 78px;
  color: #35432f;
}
.texto-escolhaAnalise p {
  width: 98%;
  font-weight: 400;
  /* font-size: 32px; */
  font-size: 30px;
  line-height: 131.9%;
  color: #35432f;
}
.botoes-escolhaAnalise {
  /* width: 27.5%; */
  width: 295px;
  height: 167px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-around;
}
button {
  cursor:pointer;
  border: none;
  width: 295px;
  /* height: 71px; */
  height: 50px;
}
.metabaseRedirect {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 168.4%; */
  color: #ffffff;

  background: #4f7344;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 44px;
}
.btn-metabase {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.metabaseLogo {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-voltar {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 168.4%;
  or 34px */
  color: #2b3825;

  background: rgba(255, 255, 255, 0.81);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 44px;
}

article.dashboard {
  width: 95%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  border: none;
  border-radius: 9px;
  border: solid #ebe6e6 1px;
}
.graficos {
  width: 100%;
  height: 1800px;
}

/*-----Tudo do footer----*/
footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */

  width: 100%;
  /* height: 160px; */
  height: 80px;
  /* margin-top: 50px; */
  margin-top: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.faculdadeUnBGama{
  width: 40%;
  /* width: 341px;  */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.quantiFGA_footer{
width: 20%; 
}
.quantiFGA_footer img{
width: 100%;
}
.faculdade-gama {
width: 72%; 

}
.unb_logo{
  width:16%;
}

/*-----Tudo sobre animações----*/
.animacao:hover {
  /*Para aumentar a "janelinha", ao passar o cursor*/
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transition-duration: 1s, 1s;
  text-decoration: underline;
}
img.animacao:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.animacao3:hover {
  /*Para aumentar a "janelinha", ao passar o cursor*/
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s, 0.5s;
}
